section.overlay{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin-top:80px;
}
@font-face{
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}
body{
    font-family: ar-font;
    direction: rtl;
}
.navbar{
    background-color:#ffffff;
}
.navbar-brand{
    width:60px;
    height: 60px;
}
nav.navbar ul.navbar-nav{
    padding-right: 0;
}
nav.navbar ul.navbar-nav li a.nav-link{
    color: #000000;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}
nav.navbar ul.navbar-nav li a.nav-link:hover,
nav.navbar ul.navbar-nav li a.nav-link.active{
    background-color: #000000;
        color: #16aeca;
}
nav.navbar .navbar-brand img{
    width: 100%;
}
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link{
    color: #16aeca;
}
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover,
nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active{
    color:#dae413;
    background-color: #16aeca;
}
nav.navbar.noTransparrent .navbar-brand img{
    width: 80%;
}
nav.navbar.noTransparrent{
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}
nav.navbar button.navbar-toggler{
    margin: 30px auto;
    transition: all 1s ease;
}
nav.navbar.noTransparrent button.navbar-toggler span{
    color: #16aeca;
}
p.overtext{
    transform: translateY(300px);
    font-size:25px;
    color:#ffffff;
}
section.slider{
    background: #ffffff;
    padding: 80px 0;
}
section.slider .title{
    margin-bottom: 60px;

}
section.slider .title h3{
    font-size: 36px;
}
section.slider .carousel-inner{
    width: 70%;
    margin: 0 auto;
}
section.slider .carousel-inner .carousel-item{
    position: relative;
    transition: all 0.6s ease ;
    backface-visibility: hidden;
    line-height:80px;
    
}

section.slider .carousel-indicators{
    padding: 0;bottom: -60px;
}
section.slider .carousel-indicators button{

    width: 20px;
    height: 20px;
    border: 1px solid #16aeca;
    border-radius: 50%;
    margin-left: 1px;
    margin-right:1px;
}
section.slider .carousel-indicators button.active{
    background-color: #16aeca;
}
section.slider .carousel-control-next,
section.slider .carousel-control-prev{
    width: 60px;
    height: 60px;
    border: 1px solid #16aeca;
    border-radius: 50%;
    color: #16aeca;
    opacity: 1;
    margin-top: 250px;
    justify-content: center;
}
.carousel-control-next-icon{
    width: 5px;
}
.carousel-control-prev-icon{
    width: 0px;
}

h3.slider1{
    text-align: center;
    margin-bottom: 30px;
}
section.services{
    padding: 80px 0;
}
section.services .title h2{
    font-size: 40px;
    line-height: 40px;

}
section.services .title{
    margin-bottom: 50px;
}
section.services .card{
    background-color: #ffffff;
    width: 100%;
    height: 250px;
    transition: all 1s ease;
}
section.services .card:hover{
    height: 300px;
}
section.services .card img{
    width: 140px;
    margin: 40px  auto 0;
}
section.services .card .card-block h4{
    font-size: 24px;
    color: #070c0c;
    line-height: 30px;
}
section.services .card .card-block p{
    font-size: 22px;
    line-height: 20px;
    color: #919191;
    opacity: 0;
    transition: all 1s ease;
}
section.services .card:hover .card-block p{
    opacity: 1;
}
footer{
    border-top:solid 1px #566666;
    padding-top: 50px;
}

footer .top-footer .overlay h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.form-control{
    font-size: 18px;
    border-radius: 0px;
    border-width: 2px;
    margin:0 auto ;
    height: 3rem;
    max-width: 40%;
    height:3rem;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: -2.5px;

}
footer .btn{
    height: 3rem;
    margin-left: 10px;
    margin-top: -4px;
    padding-left: 15px;
    color: #ffffff;
    background-color: #16aeca;
    
}
footer .list-inline .list-inline-item{
    font-size: 18px;
    margin-right: 90px;
    margin-bottom: 20px;
    margin-left: 90px;
    
}
footer .list-inline .list-inline-item a{
    color: #16aeca;
}
footer .list-inlineone .list-inline-item{
    font-size: 18px;
    margin-right: 75px;
    margin-left: 80px;
    margin-bottom: 20px;
}
p.listed{
    color: #070c0c;
}
p.footerd{
    margin-top: 50px;
    font-size: 18px;
    padding-bottom: 30px;
}
@media(max-width:1500px) {
    nav.navbar .btn{
        color: transparent;
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
        display: block !important;
        
    }
}
@media(max-width:1200px){
    footer .list-inline .list-inline-item{
        margin-left: 70px;
        margin-right: 70px;
    }
    footer .list-inlineone .list-inline-item{
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media(max-width:991px){
    nav.navbar ul.navbar-nav li a.nav-linke{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    section.slider .carousel-control-next,
    section.slider .carousel-control-prev{
        margin-top: 160px;
    }
    footer .list-inline .list-inline-item{
        margin-left: 45px;
        margin-right: 45px;
    }
    footer .list-inlineone .list-inline-item{
        margin-left: 20px;
        margin-right: 20px;
    }
    nav.navbar .btn{
        color: transparent;
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none;
    }
    
}
@media(max-width: 767px){
    nav.navbar{
        padding: 0.5rem 0rem;
    }
    nav.navbar .container{
        width: 100%;
    }
    nav.navbar .navbar-collapse{
        background-color: #ffffff;
    }
    nav.navbar .btn{
        color: black;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    section.slider .carousel-control-next,
    section.slider .carousel-control-prev{
        margin-top: 150px;
    }
    section.services .card{
        margin-bottom: 20px;
    }
    footer .input-group{
        width: 50%;
        margin: 0 auto;
    }
    footer .list-inline .list-inline-item{
        margin-left: 25px;
        margin-right: 25px;
    }
    footer .list-inlineone .list-inline-item{
        display: block;
        text-align: right !important;
    }
}
@media(max-width: 575px){
    section.slider .carousel-control-next,
    section.slider .carousel-control-prev{
        margin-top: 150px;
    }
    p.overtext{
        transform: translateY(200px);
        font-size:25px;

    }
    footer .list-inline .list-inline-item{
        margin-right: 15px;
        margin-left: 15px;
    }
    
 
}
